# Python
__pycache__/
*.py[cod]
*.sqlite3
*.env
.env/

# Virtual env
env/
venv/
.venv/

# VSCode / Cursor
.vscode/

# Django
db.sqlite3
staticfiles/
static/
media/

# Elastic Beanstalk
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# AWS CLI leftovers
aws/
awscliv2.zip

# OS / Editor files
.DS_Store
Thumbs.db
