# Python
__pycache__/
*.py[cod]
*.sqlite3
*.env
.env/

# Virtual env
env/

# VSCode/Cursor
.vscode/

# Django
db.sqlite3
staticfiles/
static/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
