container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
  03_seed_data:
    command: "python manage.py shell -c \"exec(open('load_sample_data.py').read())\""
    leader_only: true
